[submodule "hiredis"]
	path = hiredis
	url = https://github.com/redis/hiredis.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog.git
[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags.git
